{% load static %}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<html>
<head>
<title>Batch Tour & Travel | Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Around Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="static/dist/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="static/dist/css/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="static/dist/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- font -->
<link href='//fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="static/bower_components/js/jquery-1.11.1.min.js"></script>
<script src="static/bower_components/js/bootstrap.js"></script>
<script type="text/javascript" src="static/bower_components/js/move-top.js"></script>
<script type="text/javascript" src="static/bower_components/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>	
<!--animate-->
<link href="static/dist/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="static/bower_components/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
</head>
<body>
	<!-- header -->
	<div class="header">
		<div class="top-header">
			<div class="container">
				<div class="top-header-info">
					<div class="top-header-left wow fadeInLeft animated" data-wow-delay=".5s">
						<p>Tempat Destinasi Terpopuler di Indonesia</p>
					</div>
					<div class="top-header-right wow fadeInRight animated" data-wow-delay=".5s">
						<div class="top-header-right-info">
							<ul>
								<li><a href="login">Login</a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="bottom-header">
			<div class="container">
				<div class="logo wow fadeInDown animated" data-wow-delay=".5s">
					<h1><a href="index.html"><img src="static/dist/images/logo.jpg" alt="" /></a></h1>
				</div>
				<div class="top-nav wow fadeInRight animated" data-wow-delay=".5s">
					<nav class="navbar navbar-default">
						<div class="container">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu						
							</button>
						</div>
						<!-- Collect the nav links, forms,  and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="/" class="active">Home</a></li>
								<li><a href="/data">Destination</a></li>
								<li><a href="/reservasi_tiket">Reservasi Tiket</a></li>
								<li><a href="/pesan_reservasi">Pesan Tour</a></li>
								<li><a href="gallery1.html">Gallery</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>	
							<div class="clearfix"> </div>
						</div>	
					</nav>		
				</div>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- banner -->
	<div class="banner" style="background: url(static/dist/images/2.jpg) no-repeat 0px -0px; background-size: cover; padding: 10em 0 13em;">
		
			<div class="slider">
				<h2 class="wow shake animated" data-wow-delay=".7s">Tour & Travel</h2>
				<div class="border"></div>
				<script src="static/bower_components/js/responsiveslides.min.js"></script>
				<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						// Slideshow 4
							$("#slider3").responsiveSlides({
								auto: true,
								pager: true,
								nav: true,
								speed: 500,
								namespace: "callbacks",
								before: function () {
									$('.events').append("<li>before event fired.</li>");
								},
								after: function () {
									$('.events').append("<li>after event fired.</li>");
								}
							 });				
						});
				</script>
				<div  id="top1" class="callbacks_container-wrap">
					<ul class="rslides" id="slider3">
						<li>
							<div class="slider-info">
								<h3 class="wow fadeInRight animated" data-wow-delay=".7s">Perjalanan Anda di Mulai Disini</h3>
								<p class="wow fadeInLeft animated" data-wow-delay=".7s">Kunjungin Destinasi Terpopuler di Indonesia</p>
								<div class="more-button wow fadeInRight animated" data-wow-delay=".7s">
								</div>
							</div>
						</li>
						<li>
							<div class="slider-info">
								<h3 class="wow fadeInRight animated" data-wow-delay=".7s">Mau Jalan-Jalan dengan Harga Fantastic?</h3>
								<p class="wow fadeInLeft animated" data-wow-delay=".7s">Daftarkan diri Anda dan Rombongan Anda di Tour & Travel Kami </p>
								<div class="more-button wow fadeInRight animated" data-wow-delay=".7s">
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
	</div>
	<!-- //banner -->
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="banner-bottom-grids">
				<div class="col-md-6 banner-bottom-left wow fadeInLeft animated" data-wow-delay=".5s">
					<div class="left-border">
						<div class="left-border-info">
							<p>Destinasi Wisata Populer</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 banner-bottom-left banner-bottom-right wow fadeInRight animated" data-wow-delay=".5s">
					<div class="left-border">
						<div class="left-border-info right-border-info">
							<p>Jalan-Jalan di Indonesia</p>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //banner-bottom -->
	<!-- information -->
	<div class="information">
		<div class="container">
			<div class="information-heading">
				<h3 class="wow fadeInDown animated" data-wow-delay=".5s">Batch Tour & Travel</h3>
				<p class="wow fadeInUp animated" data-wow-delay=".5s">Situs yang menyediakan Destinasi Terpopuler di Indonesia Berdasarkan Rating Wisatawan yang Berkunjung di Sebuah Daerah</p>
			</div>
			
			<div class="information-grids">
				<div class="col-md-4 information-grid wow fadeInLeft animated" data-wow-delay=".5s">
					<div class="information-info">
						<div class="information-grid-img">
							<img src="static/dist/images/yogyakarta/1.png" alt="" />
						</div>
						<div class="information-grid-info">
							<h4>Taman Pelangi</h4>
						</div>
					</div>
				</div>
				<div class="col-md-4 information-grid wow fadeInUp animated" data-wow-delay=".5s">
					<div class="information-info">
						<div class="information-grid-info">
							<h4>Air Terjun Grojogan Sewu Tawangmangu</h4>
						</div>
						<div class="information-grid-img">
							<img src="static/dist/images/solo/2.png" alt="" />
						</div>
					</div>
				</div>
				<div class="col-md-4 information-grid wow fadeInRight animated" data-wow-delay=".5s">
					<div class="information-info">
						<div class="information-grid-img">
							<img src="static/dist/images/medan/1.png" alt="" />
						</div>
						<div class="information-grid-info">
							<h4>Danau Toba</h4>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //information -->
	
	<!-- popular -->
	<div class="popular">
		<div class="container">
			<div class="popular-heading information-heading">
				<h3 class="wow fadeInDown animated" data-wow-delay=".5s">Tempat Populer</h3>
				<p class="wow fadeInUp animated" data-wow-delay=".5s"></p>
			</div>
			<div class="popular-slide">
				<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						// Slideshow 4
							$("#slider1").responsiveSlides({
								auto: true,
								pager: true,
								nav: false,
								speed: 500,
								namespace: "callbacks",
								before: function () {
									$('.events').append("<li>before event fired.</li>");
								},
								after: function () {
									$('.events').append("<li>after event fired.</li>");
								}
							 });				
						});
				</script>
				<div  id="top" class="callbacks_container-wrap">
					<ul class="rslides" id="slider1">
						<li>
							<div class="popular-slide-info wow bounceIn animated" data-wow-delay=".5s" style="background: url(static/dist/images/slider/pantai.jpg) no-repeat 0px -135px; background-size: cover; height: 500px; width: 1100px; text-align: center;">
									<h4>Bali</h4>
							</div>
						</li>
						<li>
							<div class="popular-slide-info popular-slide1" style="background: url(static/dist/images/slider/sade.jpg) no-repeat 0px -135px; background-size: cover; height: 500px; width: 1100px; text-align: center;">
								<h4>Lombok</h4>
							</div>
						</li>
						<li>
							<div class="popular-slide-info popular-slide2" style="background: url(static/dist/images/slider/farm.jpg) no-repeat 0px -135px; background-size: cover; height: 500px; width: 1100px; text-align: center;">
								<h4>Bandung</h4>
							</div>
						</li>
					</ul>
					<br>
					<br>
				</div>
			</div>
			<div class="popular-grids">
				<div class="col-md-4 popular-grid wow fadeInLeft animated" data-wow-delay=".5s">
					<h5>Promo</h5>
					<p>Batch Tour & Travel setiap bulannya mengadakan paket Promo berupa Diskon untuk pelanggan yang lebih dari 5 orang.</p>
				</div>
				<div class="col-md-4 popular-grid wow fadeInUp animated" data-wow-delay=".5s">
					<h5>Program Terbaru</h5>
					<p>Bacth Tour & Travel tidak hanya menawarkan promo yang menarik saja tetapi ada berbagai program terbaru, diantaranya pelanggan dapat menikmati berbagai wisata populer.</p>
				</div>
				<div class="col-md-4 popular-grid wow fadeInRight animated" data-wow-delay=".5s">
					<h5>Paket Tour Liburan</h5>
					<p>Batch Tour & Travel menawarkan paket liburan untuk keluarga, paket liburan hari raya, dan paket wisata anak sekolah</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //popular -->
	
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-nav wow fadeInLeft animated" data-wow-delay=".5s">
					<h4>Navigation</h4>
					<ul>
						<li><a href="/data">Destination</a></li>
						<li><a href="booking.html">Reservasi Tiket</a></li>
						<li><a href="/pesan_reservasi">Pesan Tour</a></li>
						<li><a href="gallery1.html">Gallery</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-5 footer-nav wow fadeInUp animated" data-wow-delay=".5s">
					<h4>Hotels</h4>
					<p>Hotel Bali, Hotel Bandung, Hotel Lombok, Hotel Medan,</br> Hotel Solo dan Hotel Yogyakarta</p>
				</div>
				<div class="col-md-4 footer-nav wow fadeInRight animated" data-wow-delay=".5s">
					<h4>Penerbangan</h4>
					<div class="news-grids">
						<div class="news-grid">
							<h6>04/05/2017 : <p>Bandara International Ngurah Rai (Bali)</p></h6>
							<h6>10/02/2017 : <p>Bandara Husein Sastranegara (Bandung)</p></h6>
							<h6>22/06/2017 : <p>Bandara International (Lombok)</p></h6>
							<h6>18/01/2017 : <p>Bandara International Kualanamu (Medan)</p></h6>
							<h6>30/04/2017 : <p>Bandara International Adisumarmo (Solo)</p></h6>
							<h6>06/07/2017 : <p>Bandara International Adisutjipto (Yogyakarta)</p></h6>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="copyright wow fadeInUp animated" data-wow-delay=".5s">
				<p>© 2017 Batch Tour & Travel </p>
			</div>
		</div>
	</div>
	<!-- //footer -->
</body>	
</html>