{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Xtreme Travel a Travel Agency Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Xtreme Travel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/styles.css?v=1.6" rel="stylesheet">
<!-- js -->
<script src="static/js/jquery-1.11.1.min.js"></script>
<script src="static/js/scripts.js?v=1.7"></script>
<!-- //js -->
<!--FlexSlider-->
		<link rel="stylesheet" href="static/css/flexslider.css" type="text/css" media="screen" />
		<script defer src="static/js/jquery.flexslider.js"></script>
		<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
<!--End-slider-script-->
<!-- pop-up-script -->
<script src="static/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="static/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.view-seventh a').Chocolat();
		});
		</script>
<!-- //pop-up-script -->
<script src="static/js/easyResponsiveTabs.js" type="text/javascript"></script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="static/js/move-top.js"></script>
<script type="text/javascript" src="static/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>
<!-- banner -->
	<div class="banner">
		<div class="header-top">
			<div class="container">
				<div class="top-nav">
					<div class="hero fa-navicon fa-2x nav_slide_button" id="hero">
						<a href="#"><img src="images/menu.png" alt=""></a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="banner-info">
			<div class="container">
				<h1>Book Your Best Trip</h1>
                <div class="sap_tabs">
                </div>
                <div id="horizontalTab" style="display: block; width:100%; margin: 0px;">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item grid1" aria-controls="tab_item-0" role="tab">
                            <span>
                                <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                                Pilih Tujuan Anda
                            </span>
                        </li>
                    </ul>
                    <div class="resp-tabs-container">
                        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-0">
                            <span class="resp-arrow"></span>
                            "Pilih Tujun Anda"
                        </h2>
                        <div class="tab-1- resp-tab-content resp-tab-content- active" aria-labelledby="tab_item-0" style="display:block">
                            <div class="facts">
                                <div class="booking-form">
                                    <div class="online_reservation">
                                        <div class="b_room">
                                            <div class="booking_room">
                                                <div class="reservation">

                                                        <div class="clearfix"></div>

                                                </div>
                                                <div class="reservation">
                                                   <ul>
                                                    <li align="center">ANDA BERHASIL MEMESAN TIKET!</li>
                                                    <li>Tunggu kami menghubungi anda lewat email! :)</li>
                                                   </ul>
                                                        <div class="clearfix"></div>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="reservation">
                                                <ul>
                                                    <li class="span1_of_3">

                                                    </li>
                                                    <div class="clearfix"></div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             </div>
                    <div class="login">
					<a href="/">Home</a>
				</div>
        </br>
        </br>
<!-- //banner -->
<!-- //banner -->
        </body>
    </html>


