<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<ul>
	<h1><strong>Data Tiket</strong></h1>	
	
<h3>Jenis Tiket</h3>
	<table border="1">
		<tr>
			<th>Nomor </th>
			<th>Tempat Destinasi</th>
			<th>Kelas Tiket</th>
			<th>Harga</th>
			<th>Aksi</th>
		</tr>
		{%for reservasi in reservasi%}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{ reservasi.code_paket.Tempat }}</td>
			<td>{{ reservasi.Paket2 }}</td>
			<td>{{ reservasi.Harga2 }}</td>
			<td><a href="/edit_data_tiket/{{reservasi.id}}">Edit data |</a><a href="/delete2/{{reservasi.id}}"> Delete</a></td>
		</tr>
		{% endfor %}
	</table>
	<p><a href="/input_reservasi2">Input Reservasi Baru</a>	 <a href="/home">Back</a> </p>

	<hr>
	
</ul>
</body>
</html>