<!DOCTYPE html>
<html>
<head>
	<title>Edit data</title>
</head>
<body>
	<form method="POST" action="/ganti_reservasi2/{{reservasi.id}}">
		{% csrf_token %}
		<p><label>Destinasi  </label> 
		<select>
			{%for d in destinasi%}
			<option value="{{d.id}}">{{d.Tempat}}</option>
			{%endfor%}
		</select>
		<p><label>Kelas </label><input type="text" id="Paket2" name="Paket2" value="{{ reservasi.Paket2}}" ></p>
		<p><label>Keterangan </label> <textarea name="Deskripsi2" id="Deskripsi2" rows=30" cols="100">{{reservasi.Deskripsi2}}</textarea> </p>
		<p><label>Harga </label><input type="text" name="Harga2" id="Harga2" value="{{reservasi.Harga2}}"></p>
		<p><input type="submit" value="Edit"></p>
	</form>
</body>
</html>