<!DOCTYPE html>
<html>
<head>
	<title>Input Data Reservasi Tiket</title>
</head>
<body>

	<h1>Silakan input data Reservasi Tiket</h1>
	<form method="POST" action="/simpan3">
		{% csrf_token %}
		<label>Destinasi </label>
		<select name="code_paket_id">
			{%for d in destinasi %}
			<option value="{{ d.id}}">{{d.Tempat}}</option>
			{%endfor%}
		</select>
		
		<p><label>Kelas </label><input type="text" name="Paket2" placeholder="Kelas"></p>
		<p><label>Deskripsi Kelas </label><textarea name="Deskripsi2" cols="50" rows="20"></textarea> <br></p>
		<p><label>Harga </label><input type="text" name="Harga2" placeholder="Harga"></p>
		<input type="submit" value="Simpan">
	</form>
</p>


</body>
</html>