<!DOCTYPE html>
<html>
<head>
<script src="/static/js/jquery-1.7.2.min.js"></script>
<!--<script type="text/javascript">
$(function(){
      $('#search').keypress(function(){
      	var current_query = $('#search').val();

      	$('#Tabel').each(function(){
      		var current_keyword = $(this).attr("data-keywords");

      	if	(current_keyword.indexOf(current_query) >= 0){
      		$(this).show();
      	}
      	});
      })
    });
</script>-->
	<title>Pemesanan Tiket </title>
</head>
<body>
<ul>
	<table border="1" id="Tabel">
		<tr>
			<th>Nama</th>
			<th>Email</th>
			<th>Waktu Berangkat</th>
			<th>Waktu Kembali</th>
			<!--<th>Kelas</th>-->
			<th>Jumlah Orang</th>
			<th>Harga perOrang</th>
			
		</tr>
		{%for pesan2 in pesan2%}
		<tr>

			<td data-keywords ="{{pesan2.Nama}}">{{pesan2.Nama}}</td>
			<td>{{pesan2.Email2}}</td>
			<td>{{pesan2.Waktu_Berangkat2}}</td>
			<td>{{pesan2.Waktu_Pulang2}}</td>
			<!--<td>{{pesan2.code_paket.Tempat}}</td>-->
			<td>{{pesan2.Jumlah_Pax2}}</td>
			<td>{{pesan2.Paket2}}</td>
			
		</tr>
		{%endfor%}
	</table>
	<p><a href="home">Back</a></p>
</ul>

</body>
</html>