<!DOCTYPE html>
<html>
<head>
<script src="/static/js/jquery-1.7.2.min.js"></script>
<!--<script type="text/javascript">
$(function(){
      $('#search').keypress(function(){
      	var current_query = $('#search').val();

      	$('#Tabel').each(function(){
      		var current_keyword = $(this).attr("data-keywords");

      	if	(current_keyword.indexOf(current_query) >= 0){
      		$(this).show();
      	}
      	});
      })
    });
</script>-->
	<title>Pemesanan Tour </title>
</head>
<body>
<ul>
	<table border="1" id="Tabel">
		<tr>
			<th>Nama Depan</th>
			<th>Email</th>
			<th>Waktu Berangkat</th>
			<th>Waktu Kembali</th>
			<!--<th>Nama Paket</th>-->
			<th>Jumlah Orang</th>
			<th>Harga perOrang</th>
			
		</tr>
		{%for pesan in pesan%}
		<tr>

			<td data-keywords ="{{pesan.Nama_Depan}}">{{pesan.Nama_Depan}}</td>
			<td>{{pesan.Email}}</td>
			<td>{{pesan.Waktu_Berangkat}}</td>
			<td>{{pesan.Waktu_Pulang}}</td>
			<!--<td data-keyword ="{{pesan.code_paket}}">{{pesan.code_paket}}</td>-->
			<td>{{pesan.Jumlah_Pax}}</td>
			<td>{{pesan.Paket}}</td>
			
		</tr>
		{%endfor%}
	</table>
	<p><a href="home">Back</a></p>
</ul>

</body>
</html>